APP_SERVICE_ACCOUNT_ID=""
FOLDER_ID=""
CLOUD_ID=""
WISH_DATABASE_DOCUMENT_API_ENDPOINT=""
WISH_DATABASE_PATH=""
WISH_API_REPOSITORY_NAME=""
WISH_API_CONTAINER_ID=""
WISHBE_API_GATEWAY_DOMAIN=""
WISHES_WEBSITE_BUCKET=""
WISHES_WEBSITE_GATEWAY_DOMAIN=""
